h1, td, th{
  text-align: center;
  font-family: 'Shantell Sans', cursive;
  
 }
td, th {
		border: 2px solid;
  background-color: #f5f5dc;
  padding: 10px;
  }
h1{
  font-size:40px;
  color:#FFFFFF;
  }

.planet_names{
  border: 1px solid;
  }

.facts{
  text-align: center;
  font-size:25px; 
  border:3px solid;
  color: #FFFFFF;
  }

#planets{
  margin:auto;
  }

body{
  background-image: url(..images/space.jpg);
  background-size: cover;
  }
img{
  width: 300px;
  height: 300px;
  }
  