h1{
  text-align: center;
  font-family: 'Shantell Sans', cursive;
  color: rgb(169,169,169);
 }
td, th {
		border:1px soild;
  background-color: #f5f5dc;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }
.planet-names{
  color: #00ffff;
  border: 1px solid;
]}
.facts{
  background:ffd700;
}
  